@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&family=Manrope:wght@200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root{
    --cor0: #AD3824;
    --cor1: #902C1E;
    --cor2: #6E3B32;
    --cor3: #332624;
    --cor4: #24AD73;
    --cor5: #2BCD7F;

    --fonte1: "Bona Nova SC", serif;
    --fonte2: "Open Sans", sans-serif;
    --fonte3: "Manrope", sans-serif;
}

html{
    scroll-behavior: smooth;
}

* {
    margin: 0px;
    padding: 0px;
}

body{
    font-family: var(--fonte3);
    color: white;
}

span{
    color: var(--cor4);

    font-weight: bold;
}

/* Cabeçalho */

header nav{
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;

    /* padding: 10px; */

    text-align: right;

    height: auto;
    
    background-color: var(--cor2);
}

header nav *{
    flex-shrink: 0;
    flex-grow: 0;
}

header nav img{
    justify-self: flex-end;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    
    margin: 5px;
}

.menu-toggle {
    display: none;
}

.hamburguer-icon {
    display: none;
    cursor: pointer;
    font-size: 2rem;
    padding-right: 10px;
}

header nav div{
    display: flex;   
    flex-flow: column wrap;
    justify-content: center;

    height: auto;
}

header nav div ul li{
    box-shadow: inset 1px 0px 0px black;
    padding: 12px;

    transition: 0.5s;
}

#menu{
    display: flex;
    flex-direction: row;
    align-items: center;

    list-style: none;
}

header nav ul li a{
    align-self: center;

    text-decoration: none;
    color: white;
    width: 100px;

    transition: 0.5s;
}
header nav ul li:hover{
    background-color: var(--cor3);
}
header nav ul li:hover a{
    color: var(--cor4);
}

header section{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    text-shadow: 2px 2px 5px black;

    height: 700px;
    color: white;
}

header section h1{
    font-family: var(--fonte1);
    font-weight: 700;
    font-size: max(7vw, 48px);
}

header section p{
    font-family: var(--fonte2);
    font-weight: 300;
    font-size: max(3vw, 20.496px);
}

section#imagem-fundo{
    background-image: url("../img/zucca3.jpg");
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;

    height: 100vh;
}



/* FOOTER */

footer{
    text-align: center;

    background-color: var(--cor2);
    color: white;
}

footer img{
    color: white;
    padding: 10px;
}



/* Media Query */

@media (max-width: 768px) {
    header{
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
    }

    nav {
        flex-direction: row;
    }

    header nav div ul li{
        width: 130px;

    }

    .hamburguer-icon {
        display: block;
        align-self: flex-end;
    }

    #menu{
        display: none;
        flex-flow: column wrap;
        align-items: flex-end;
    }

    /* Mostrar menu quando checkbox estiver marcado */
    .menu-toggle:checked ~ #menu{
    display: flex;
    }


    .hamburguer-icon {
    display: block;
    }
}